* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 0;
  font-family: 'Roboto', system-ui, -apple-system,  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.network {
  
  position: absolute;
  left: 50%;
  top: 50%;
  width: 800px;
  height: 600px;
  transform: translate(-50%, -70%);
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  font-size: 16px;
  letter-spacing: 1px;
  &__header {
    background-color: rgb(208, 230, 255);
    height: 100px;
    margin-bottom: 10px;
  }
  &__container {
    display: flex;
    
  }
  &__sidebar {
    width: 200px;
    background-color: #f4f6f8;
    height: 430px;
    border-right: 1px solid #f1f1f1;
    padding: 30px 20px;
    margin-right: 10px;
  }
  &__content {
    flex: 1;
    
    
    
  }
  
  
}


