.dialogs {
    display: flex;
    justify-content: space-around;
   

    &__items {
        display: flex;
        flex-direction: column;
        span {
            
        }
    }
    &__messages {
        display: flex;
        flex-direction: column;
        
    }
}